/*==========Common Styles=======*/

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
a {
    text-decoration: none;
}
ul, ol {
  list-style: none;  
}

/*==========/Common Styles=======*/

/*==========Page Header styles=======*/
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42
}

.menu-link {
    
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus{
    color: #404bbf
}

.address {
    font-style: normal;
}

.address-link {
    
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-link:hover,
.address-link:focus{
    color: #404bbf
}
/*==========/Page Header styles=======*/

/*==========Hero section styles=======*/
.box-model {
background: #2e2f42;
}
 .header-h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
 .button {
        
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor: pointer;
 }
 /*==========/Hero section styles=======*/

 /*==========Main content Section 1====*/
 
 
 .h3-strategy {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #2e2f42;
 }
 .our-goal {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #434455;
 }
.h3-punctuality {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.key-message {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
.h3-diligence {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.confirm-brands {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
.h3-technologies {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.design-practice {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
     color: #434455;
}
 /*==========/Main content Section 1====*/

 /*==========Main content Section 2====*/
.h2-our-team {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.h3-mark-guerrero {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.p1-product-designer {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    
}
.h3-tom-ford {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.p2-frontend-developer {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;   
}
.h3-camila-garcia {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;     
}
.p3-marketing {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.h3-daniel-wilson {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.p4-ui-designer {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}
/*==========/Main content Section 2====*/

/*==========Main content Section 3====*/
.h2-our-portfolio {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;  
}
.h3-banking-app {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.p1-app {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.h3-cashless-payment {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.p2-marketing {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.h3-meditation-app {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.p3-app {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.h3-taxi-service {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.p4-marketing {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.h3-screen-illustrations {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;     
}
.p5-design {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.h3-online-courses {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.p6-marketing {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}
/*==========/Main content Section 3====*/

/*==========Footer====*/
.logo-footer {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.03em;
        color: #4d5ae5;
}
.box-model-2 {
background: #2e2f42;
}

.logo-footer {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.logo-footer-part {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #fff;}
.footer-text {
font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #fff;
}